{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "angularjs-annotate",
      {
        "explicitOnly": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        }
      }
    ]
  ]
}