
.panel-rounded {
    border-radius: 10px;
    /* margin: 5px; /* Rohit: correct way of doing it? */
}

.panel-heading-rounded {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* margin: 5px; /* Rohit: correct way of doing it? */
}

.panel-body {
    padding-top: 3px;
    padding-bottom: 3px;
}

.panel {
    padding-top: 3px;
    padding-bottom: 3px;
}

.row.gutter-3 > [class*="col-"] {
        padding-left: 3px;
        padding-right: 3px;
        margin-top: -6px;
        margin-bottom: -6px;
    }

.row.gutter-1 > [class*="col-"] {
        padding-left: 1px;
        padding-right: 1px;
        margin-top: -1px;
        margin-bottom: -1px;
    }

.row.gutter-2 > [class*="col-"] {
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 0px;
        margin-bottom: 0px;
    }


.panel-info {
    transition: 0.25s linear all;

}

.quote-pchg-u-xxx {
    color:  lawngreen;
    font-weight: bold
}

.quote-pchg-u-x {
    color: lightblue
}
.quote-pchg-u-xx {
    color: green
}
.quote-pchg-d-xxx {
    color: red;
    font-weight: bold

}
.quote-pchg-d-xx {
    color: orange
}
.quote-pchg-d-x {
    color: palevioletred
}

.glyphicon-refresh-animate {
    -animation: fa-spin .7s infinite linear;
    -webkit-animation: fa-spin .7s infinite linear;
}

.btn.slim {
    padding-left: 2px;
    padding-right: 2px;
  }

.badge.slim {
    padding-left: 2px;
    padding-right: 2px;
  }
