<div class="container-fluid">
  <!--  <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"> -->

  <h4>
    <!-- Simple dropdown -->
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        {{ symbolsGridCtrl.watchlist.name }}
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </span> Grid
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="!symbolsGridCtrl.quoteTime"></span>
    <span ng-show="symbolsGridCtrl.quoteTime">
    <small><small>as on {{ symbolsGridCtrl.quoteTime | date : 'HH:mm:ss' : '+0530'}} IST fetched at {{symbolsGridCtrl.refreshTime | date : 'HH:mm:ss' : '+0800'}} SGT </small></small>

    </span>
  </h4>


  <!-- Split button -->
  <div class="btn-toolbar" role="toolbar">

    <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-info">Sort</button>
      <button type="button" class="btn btn-info" uib-dropdown-toggle>
          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          <span class="sr-only">Sort</span>
        </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <!-- <li class="dropdown-header">Dropdown header</li> -->


        <li role="menuitem">
          <a ng-click="symbolsGridCtrl.setSortBy('symbol')" href="">
            <span class="glyphicon" ng-class="(symbolsGridCtrl.getReverse('symbol'))?'glyphicon-sort-by-alphabet-alt':'glyphicon-sort-by-alphabet'"></span>          Symbol
          </a>
        </li>

        <li role="menuitem">
          <a ng-click="symbolsGridCtrl.setSortBy('quote.per')" href="">
            <span class="glyphicon" ng-class="(symbolsGridCtrl.getReverse('quote.per'))?'glyphicon-sort-by-attributes':'glyphicon-sort-by-attributes-alt'"></span>          Daily %
          </a>
        </li>

        <li role="menuitem">
          <a ng-click="symbolsGridCtrl.setSortBy('quote.mPC')" href="">
            <span class="glyphicon" ng-class="(symbolsGridCtrl.getReverse('quote.mPC'))?'glyphicon-sort-by-attributes':'glyphicon-sort-by-attributes-alt'"></span>          Monthly %
          </a>
        </li>

        <li role="menuitem">
          <a ng-click="symbolsGridCtrl.setSortBy('quote.yPC')" href="">
            <span class="glyphicon" ng-class="(symbolsGridCtrl.getReverse('quote.yPC'))?'glyphicon-sort-by-attributes':'glyphicon-sort-by-attributes-alt'"></span>          Yearly %
          </a>
        </li>


        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group" uib-dropdown auto-close="outsideClick">
      <button id="split-button" type="button" class="btn btn-info">Filter</button>
      <button type="button" class="btn btn-info" uib-dropdown-toggle>
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
          <span class="sr-only">Filter</span>
        </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="padding:10px;">
        <!-- <li class="dropdown-header">Dropdown header</li> -->
        <form class="form">

          <li role="menuitem">
            <input id="symbName" name="symbName" class="form-control" type="text" required ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="symbolsGridCtrl.query.key"
              placeholder="symbol or name" />
            <!-- <br> key : <div ng-bind-html="$sce.trustAsHtml(symbolsGridCtrl.query.key)"> </div> -->
          </li>

          <li class="divider"></li>
          <!--
            <li role="menuitem"><a href="#">Separated link</a></li>
            -->
        </form>
      </ul>
    </div>
  </div>

  <br>



  <uib-accordion ng-show="false">
    <uib-accordion-group>
      <uib-accordion-heading>
        <button type="button" class="btn btn-info" aria-label="Left Align">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
          </button>
      </uib-accordion-heading>
      <form class="form-inline">

        <div class="form-group">
          <label for="beta"> Beta :</label>
          <select name="beta" id="beta" ng-model="symbolsGridCtrl.query.level" class="form-control" ng-options="o.value as o.label for o in symbolsGridCtrl.betaFilterOptions">
            <!--
         <option selected="true" value="{}">All</option>
          <option value="0.5" >less than 0.5</option>
          <option value="1" > between 0.5 and 1.5 </option>
          <option value="1.5" >greater than 1.5</option>
        -->
          </select>
        </div>

      </form>
    </uib-accordion-group>
  </uib-accordion>



  <!-- Gutter3 = reduced padding -->
  <uib-accordion close-others="true">
    <div class="row gutter-3">

      <!--TD// new row after every four -->
      <!-- correctly reduce padding
      <!--Use a filter to identify selected instead of manipulating the model -->
      <div class="col-md-3 col-xs-12 cols-sm-4" ng-repeat="symbol in symbolsGridCtrl.watchlist.symbols | orderBy:symbolsGridCtrl.getSortOrder:symbolsGridCtrl.sortReverse | limitTo:200 | filter:symbolsGridCtrl.query">

        <uib-accordion-group class="{{'panel-rounded ' + ((symbol.symbol == symbolsGridCtrl.selectedSymbol) ? 'panel-info' : 'panel-default') }}"
          ng-click="symbolsGridCtrl.toggleSelectedSymbol(symbol.symbol)" ng-show="symbol.quote.ntP > 100">

          <uib-accordion-heading>
            <div class="row gutter-2">
              <div class="col-md-4 col-xs-4 col-sm-4">
                <h5 class="panel-title">
                  <strong> {{symbol.symbol | uppercase}} </strong>
                </h5>
              </div>
              <div class="col-md-8 col-xs-8 col-sm-8 pull-right">
                <div class="btn-group btn-group-xs pull-right" ng-if="symbol.quote">

                  <label class="btn btn-default disabled"> {{ 1 * symbol.quote.ltP.replace(',','') | currency}}</label>
                  <label class="btn btn-default disabled">
                    <span ng-class="'quote-pchg-'+ (symbol.quote.per | moveSize : [2,5,7])">
                      {{symbol.quote.per| number:1 }}%
                    </span>
                </label>
                <!--             //TD: Move to Directive -->
                  <label class="btn btn-warning disabled"  ng-show="symbol.daysToEarnings < 30">
                    <span class="badge">
                      <small>
                        E{{symbol.daysToEarnings}}
                      <span ng-if="!symbol.nextEarnings">?</span>
                      </small></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row gutter-2">
              <div class="col-md-12 col-xs-12 col-sm-12">
                <small><small>{{symbol.name | limitTo:60}}</small></small>
              </div>
            </div>
          </uib-accordion-heading>

          <div>
            <div class="row gutter-1">
              <!-- Not working on small devices -->
              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>Last Price : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3">
                {{ 1 * symbol.quote.ltP.replace(',','') | currency}}
                <!-- TD: Convert to filter -->
              </div>

              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>Change% : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3" ng-class="'quote-pchg-'+ (symbol.quote.per|| 0 | moveSize : [2,5,7])">
                <!-- | movesize : [2,5,7] -->
                {{symbol.quote.per| number:1 }}%
              </div>

            </div>

            <div class="row gutter-1">
              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>30D Chg : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3" ng-class="'quote-pchg-'+ (symbol.quote.mPC || 0 | moveSize : [5,9,15])">
                {{symbol.quote.mPC | number:1}}%
              </div>

              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>52W Chg : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3" ng-class="'quote-pchg-'+ (symbol.quote.yPC || 0 | moveSize : [10,15,20])">
                {{symbol.quote.yPC | number:1}}%
              </div>

            </div>

            <div class="row gutter-1">
              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>52 Wk High : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3">
                {{1 * symbol.quote.wkhi.replace(',','') | currency}}
              </div>

              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>52 Wk Low : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3">
                {{1 * symbol.quote.wklo.replace(',','') | currency}}
              </div>

            </div>

            <div class="row gutter-1">
              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>Open : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3">
                {{1 * symbol.quote.open.replace(',','') | currency}}
              </div>

              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>Change : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3">
                {{symbol.quote.ptsC | currency}}
                <!-- Close not available <-->
                </-->
              </div>

            </div>

            <div class="row gutter-1">
              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>High : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3">
                {{1 * symbol.quote.high.replace(',','') | currency}}
              </div>

              <div class="col-md-3 col-xs-3 col-sm-3 text-right">
                <small><small>Low : </small></small>
              </div>
              <div class="col-md-3 col-xs-3 col-sm-3">
                {{1 * symbol.quote.low.replace(',','') | currency}}
              </div>

            </div>
          </div>

          <div class="row gutter-1">
            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Vol(L) : </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
              {{1 * symbol.quote.trdVol.replace(',','') | number:1}}
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Value(Cr) : </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
              {{symbol.quote.ntP.replace(',','') | currency}}
            </div>

          </div>

          <div class="row gutter-1">
            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Prev Earnings : </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
              <small>{{symbol.previousEarnings | date : 'EEE,dd.MMM.yy' : '+0530'}}</small>
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Next Earnings: </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
              <small>
                <span ng-if="symbol.nextEarnings">
                  {{symbol.nextEarnings | date : 'EEE,dd.MMM.yy' : '+0530'}}
                </span>
                <span ng-if="!symbol.nextEarnings">
                  {{symbol.projectedEarnings | date : 'EEE,dd.MMM.yy' : '+0530'}}?
                </span>
              </small>
            </div>

          </div>
<!--
         <div class="row gutter-1">
            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Projected Earnings: </small></small>
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3">
              <small>{{symbol.projectedEarnings | date : 'EEE,dd.MMM.yy' : '+0530'}}</small>
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Days to Earnings: </small></small>
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3">
              <small>{{symbol.daysToEarnings | number : 0}}</small>
            </div>

          </div>
-->
          <div class="row gutter-1">

           <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Lot Size : </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
              {{symbol.frontMonthLotSize | number : 0}}
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Margin: </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
             {{symbol.frontMonthMarginPercent * 100 | number : 1}}%
            </div>

          </div>

          <div class="row gutter-1">

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Call ROC : </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
              {{symbol.NTMCallROCPercent * 100 | number : 1}}%
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Put ROC: </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
             {{symbol.NTMPutROCPercent * 100 | number : 1}}%
            </div>

          </div>

          <div class="row gutter-1">

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Call BE : </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
              {{symbol.callBreakEven | number : 1}}%
            </div>

            <div class="col-md-3 col-xs-3 col-sm-3 text-right">
              <small><small>Put BE: </small></small>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3">
             {{symbol.putBreakEven | number : 1}}%
            </div>


          </div>
      </div>
      </uib-accordion-group>

    </div>


</div>
</uib-accordion>
</div>
<!--
<ul class="thumbnails">
  <li ng-repeat="quote in symbolsGridCtrl.quotes.data | orderBy:symbolsGridCtrl.sortOrder | limitTo:20 | filter:symbolsGridCtrl.query" ng-show="symbol.quote.symbol == symbolsGridCtrl.selectedSymbolName">

    <div class="row session">
      <div class="span0 well votingWidget">
        <div class="votingButton" ng-click="upVoteSession(session)">
          <i class="icon-chevron-up icon-white"></i>
        </div>
        <div class="badge badge-inverse">
          <div>{{session.upVoteCount}}</div>
        </div>
        <div class="votingButton" ng-click="downVoteSession(session)">
          <i class="icon-chevron-down"></i>
        </div>
      </div>

      <div class="well span12">
        <h4 class="well-title">{{symbol.quote.symbol}}</h4>
        <h6 style="margin-top:-10px">{{symbol.quote.name}}</h6>
        <span>Duration: {{session.duration}}</span><br />
        <span>Level: {{session.level}}</span>

        <p>{{session.abstract}}</p>
      </div>
    </div>

  </li>
</ul>
-->