<!--  <h3>Option Chain</h3> -->
<div class="row slim gutter-1">

    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="btn-group btn-group-xs" ng-if="symbol.quote">
            <label class="btn btn-active ">
                <small>
                    Margin:
                </small>
            </label>
            <label class="btn slim btn-active ">
                <span ng-class="'quote-pchg-'+ ( ((-(symbol.frontMonthMarginPercent * symbol.frontMonthLotSize * symbol.quote.ltP)/1000 + 100) || 0)  | moveSize : [0,20,50])">
                    {{0.15 * symbol.frontMonthLotSize * symbol.quote.ltP | number : 0}}
                </span>
            </label>
            <label class="btn slim btn-active ">
                <small>
                    Lot:
                </small>
            </label>
            <label class="btn slim btn-active ">
                <span>
                    {{symbol.frontMonthLotSize | number : 0}}
                </span>
            </label>
            <label class="btn slim btn-active "> {{symbol.quote.ltP | currency}}</label>
            <label class="btn slim btn-active ">
                <span ng-class="'quote-pchg-'+ (symbol.quote.per | moveSize : [2,5,7])">
                    {{symbol.quote.per| number:1 }}%
                </span>
            </label>
            <label class="btn slim btn-active ">
                <span ng-class="'quote-pchg-'+ (symbol.quote.mPC || 0 | moveSize : [5,9,15])">
                    {{symbol.quote.mPC| number:1 }}%
                </span>
            </label>
            <label class="btn slim btn-active ">
                <span ng-class="'quote-pchg-'+ (symbol.quote.yPC || 0 | moveSize : [10,15,20])">
                    {{symbol.quote.yPC | number:1}}%
                </span>
            </label>

            <!--             //TD: Move to Directive -->
            <label class="btn slim btn-warning disabled" ng-show="symbol.daysToEarnings < 36">
                <span class="badge">
                    <small>
                        E{{symbol.daysToEarnings + ((!symbol.nextEarnings)?'?':null) }}
                    </small>
                </span>
            </label>

            <label class="btn slim btn-active">
                <span class="text-right">

                </span>
            </label>
        </div>
    </div>
</div>
<table class="table table-bordered table-condensed label text-center">
    <thead>
        <tr class="label-primary gutter-2">
            <th class="col-md-1 col-xs-1 col-sm-1 text-center">
                <div>oi-k </div>
            </th>
            <th class="col-md-1 col-xs-1 col-sm-1 text-center">vol</th>
            <th class="col-md-1 col-xs-1 col-sm-1 text-center">iv</th>
            <th class="col-md-2 col-xs-1 col-sm-1 text-center">
                <div class="col-md-1">bid / </div>
                <div class="col-md-1">ask
                    <small>
                        <small>(ch)</small>
                    </small>
                </div>
            </th>
            <th class="col-md-1 col-xs-1 col-sm-1 text-center">sp</th>
            <th class="col-md-1 col-xs-1 col-sm-1 text-center">
                <div>oi-k </div>
                <div>
                    <small>
                        <small>(ch)</small>
                    </small>
                </div>
            </th>
            <th class="col-md-1 col-xs-1 col-sm-1 text-center">vol</th>
            <th class="col-md-1 col-xs-1 col-sm-1 text-center">iv</th>
            <th class="col-md-2 col-xs-1 col-sm-1 text-center">
                <div class="col-md-1">bid / </div>
                <div class="col-md-1">ask
                    <small>
                        <small>(ch)</small>
                    </small>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="label-active">
            <td colspan=9>
                {{oc.expDt }} ( {{oc.expDays}} )
            </td>
        </tr>
        <tr ng-repeat="strike in oc.strikes | orderBy: 'price' | limitTo:200" class="gutter-2" ng-show="((strike.price <= sdH2) && (strike.price >= sdL2))">
            <td class="col-md-1 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price,true)">
                <div>{{strike.call.oi/1000 | number : 0 }} </div>
                <div>
                    <small>
                        <small> ({{strike.call.chngInOI/1000}})
                </div>
            </td>
            <td class="col-md-1 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price,true)">{{strike.call.vol}}</td>
            <td class="col-md-1 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price,true)">{{strike.call.iv | number : 0}}</td>
            <td class="col-md-2 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price,true)">
                <div class="col-md-1" ng-click="addCallOption(strike)">{{strike.call.bid}} / </div>
                <div class="col-md-1"> {{strike.call.ask}}
                    <small>
                        <small>
                            ({{strike.call.netChng}})
                        </small>
                    </small>
                </div>
            </td>
            <td class="col-md-1 col-xs-1 col-sm-1 label-active" id="anchor{{strike.price}}">{{strike.price}}</td>
            <td class="col-md-1 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price)">
                <div>{{strike.put.oi/1000 | number : 0 }}</div>
                <div>
                    <small>
                        <small>
                            ({{strike.put.chngInOI/1000}})
                        </small>
                    </small>
                </div>
            </td>
            <td class="col-md-1 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price)">{{strike.put.vol}}</td>
            <td class="col-md-1 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price)">{{strike.put.iv | number : 0}}</td>
            <td class="col-md-2 col-xs-1 col-sm-1" ng-class="getMoneynessClass(strike.price)">
                <div class="col-md-1" ng-click="addPutOption(strike)">{{strike.put.bid}} / </div>
                <div class="col-md-1"> {{strike.put.ask}}
                    <small>
                        <small>
                            ({{strike.put.netChng}})
                        </small>
                    </small>
                </div>
            </td>
        </tr>
    </tbody>

</table>
<div class="col-md-12 col-xs-12 col-sm-12 text-center">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate fa-4x" ng-show="!oc"></span>
</div>