.label {
    color : #353333
}

.table-condensed {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding-left: 2px;
          padding-right: 2px;
        }
      }
    }
    padding-left: 0px;
    padding-right: 0px;
  }

