.label-quote {
  display: block
}


.label-quote-1d {
  background:lighten(#FF5F5F,6.5%)
}


.label-quote-2d {
  background:darken(#f0ad4e,13.5%)
}


.label-quote-3d {
  background:darken(#FF5F5F,13.5%)
}

.label-quote-1u {
    background:darken(#bce8f1,13.5%)
}


.label-quote-2u {
    background: #428bca
}


.label-quote-3u {
    background: #3FC57A
}
